<h3>Por capital</h3>
<hr>
<form (ngSubmit)="buscar(region)">
    <input placeholder="Search country..." type="text" id="pais" name="pais" [(ngModel)]="region" class="form-control">
</form>
<hr>
    <div *ngIf="error.length!=0" class="alert alert-danger">
        No se encontró nada con el término {{ error }}
    </div>
<table *ngIf="paises.length>0" class="table table-hover">
    
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises; let i=index"> <!-- Esto es lo que tenemos que repetir por cada país que encuentre -->
            <td> {{ i + 1 }} </td> <!-- Aquí obtendremos el número de resultado -->
            <td>
                <img class="small-flag" [src]="pais.flags.png" > <!-- Aquí obtendremos la url de la bandera --> 
            </td>
            <td> {{ pais.capital }}, {{ pais.name.common }} </td> <!-- La capital, el nombre del país y la población lo obtendremos de la api -->
            <td> {{ pais.population|number }} </td>
            <td>
                <a [routerLink]="['/pais',pais.cca3]" >Ver...</a> <!-- Esto lo dejamos así de momento -->
            </td>
        </tr>
    </tbody>
</table>